############################################
# .gitignore
#############################################
node_modules
.vscode/*
!.vscode/*.default
#############################################
package.json
pnpm-lock.yaml
